workflows/Bycs_release_agent/0mNxf2KHTuOgOswv.json
{
  "active": true,
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build desktop apps": {
      "ai_tool": [
        [
          {
            "node": "PipelineManager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "ReleaseClassificator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask for approval": {
      "main": [
        [
          {
            "node": "Is Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ReleaseClassificator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Is Approved?": {
      "main": [
        [
          {
            "node": "Accept",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accept": {
      "main": [
        [
          {
            "node": "PipelineManager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "ReleaseClassificator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "ReleaseClassificator": {
      "main": [
        [
          {
            "node": "Ask for approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "PipelineManager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PipelineManager": {
      "main": [
        []
      ]
    },
    "Release update": {
      "ai_tool": [
        [
          {
            "node": "PipelineManager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Release Parser": {
      "ai_tool": [
        [
          {
            "node": "ReleaseClassificator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "ReleaseClassificator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-07T15:58:53.490Z",
  "id": "0mNxf2KHTuOgOswv",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bycs_release_agent",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention",
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C097V3Q3W02",
          "mode": "list",
          "cachedResultName": "all-automations"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        144,
        816
      ],
      "id": "4f82d6b4-a17b-42b4-863b-00d74cef610b",
      "name": "Slack Trigger",
      "webhookId": "cf7a760e-280d-4a3b-9bdd-eb02d63ae846",
      "credentials": {
        "slackApi": {
          "id": "5d0zBYZFxAN6BGb3",
          "name": "Daniel Slack API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        144,
        624
      ],
      "id": "96299add-89aa-4f5b-9266-e87d43c28cc1",
      "name": "When chat message received",
      "webhookId": "c407858c-6b2a-454b-bd39-f5dd54391560"
    },
    {
      "parameters": {
        "toolDescription": "Used to trigger a build pipeline in our desktop repository",
        "method": "POST",
        "url": "= https://git.sdui.de/api/v4/projects/{{ $('Config').item.json.DESKTOP_PROJECT_ID }}/trigger/pipeline ",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref",
              "value": "master"
            },
            {
              "name": "variables[ENV]",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            },
            {
              "name": "variables[DOCKER_IMAGE]",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"
            },
            {
              "name": "token",
              "value": "glptt-c381418c2c9cab66a2c41e61379299b37afecc1b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2112,
        800
      ],
      "id": "3d11894b-4907-4394-96ad-c55c034d76af",
      "name": "Build desktop apps"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8664739-e59e-4a69-b3d7-14effad28803",
              "name": "DESKTOP_PROJECT_ID",
              "value": "116",
              "type": "string"
            },
            {
              "id": "bccc89f6-140b-4fdb-bca0-62b90b8183b5",
              "name": "SLACK_CHANNEL_ID",
              "value": "C099A438EFM",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        704
      ],
      "id": "d1200f6f-344c-4682-b50d-54ebce663eaa",
      "name": "Config"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C097V3Q3W02",
          "mode": "list",
          "cachedResultName": "all-automations"
        },
        "message": "=*Starting Desktop Release* :sparkles:\n\n- Version: `{{ $json.output.docker_image }}` \n- Environment: `{{ $json.output.environment }}` \n\nNeeds your approval before kicking off. :rocket: \n",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1152,
        704
      ],
      "id": "d56258e3-de78-4093-a01e-1c4c75000e72",
      "name": "Ask for approval",
      "webhookId": "333012e0-acc6-4132-8bd6-45aebec04a19",
      "credentials": {
        "slackOAuth2Api": {
          "id": "NdFg9UfFlfYbqCgf",
          "name": "Daniel Slack "
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        592,
        896
      ],
      "id": "f661af8d-977d-4c31-a93b-01ea74f04ce6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9LoAoIrmQhor11bq",
          "name": "Daniel Gemini API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "109d16b4-5bdf-4695-9c99-9dd5ffc9ba0f",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        704
      ],
      "id": "1fbac545-1829-4268-a7b2-b26c192e9bee",
      "name": "Is Approved?"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C097V3Q3W02",
          "mode": "list",
          "cachedResultName": "all-automations"
        },
        "messageType": "block",
        "blocksUi": "{\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Release Approved* :white_check_mark:\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"context\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"text\": \"The pipeline is now starting...\",\n\t\t\t\t\t\"type\": \"mrkdwn\"\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t]\n}",
        "text": "*Release Approved* :white_check_mark*",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1584,
        576
      ],
      "id": "59e1aff5-0eaf-4b58-9539-06239f102b2e",
      "name": "Accept",
      "webhookId": "23f879af-0eda-49cf-bd40-ff2ce58a305a",
      "credentials": {
        "slackOAuth2Api": {
          "id": "NdFg9UfFlfYbqCgf",
          "name": "Daniel Slack "
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C097V3Q3W02",
          "mode": "list",
          "cachedResultName": "all-automations"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"*Release Rejected* :x:\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"context\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"text\": \"The release was cancelled by the user.\",\n\t\t\t\t\t\"type\": \"mrkdwn\"\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t]\n}",
        "text": "Release cancelled :x:",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1584,
        848
      ],
      "id": "2cdce136-00a3-4191-8f80-ad8a17b05c08",
      "name": "Reject",
      "webhookId": "23f879af-0eda-49cf-bd40-ff2ce58a305a",
      "credentials": {
        "slackOAuth2Api": {
          "id": "NdFg9UfFlfYbqCgf",
          "name": "Daniel Slack "
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"environment\": [\"integration\",\"preproduction\",\"production\",\"staging\"],\n\t\"docker_image\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1024,
        880
      ],
      "id": "9f371707-65a1-40ac-aa14-c3a5d4060196",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Release Agent\n\n    You are a helpful assistant that manages deployments for our desktop application using your available tools.\n    You work diligently to ensure safe and successful deployments by following best practices\n    and proper deployment procedures.\n\n    You are responsible for the following:\n    - Deploying the desktop application to the correct environment (eg: integration, preproduction, staging or production)\n    - Deploying the correct tag/version/docker image to deploy (eg: 1.0.0, 1.0.1, etc.)\n\n    You can use your tools to manage the ci/cd deployments.\n\n    Always think about what to do first, like:\n    - Check current deployment status\n    - Verify the deployment tag exists\n    - Monitor deployment progress\n\n    Provide a meaningful feedback message to the user explaning the actions you execute and how to follow up the deployment\n\nRelease Classificator information:\nENVIROMENT:  {{ $('ReleaseClassificator').item.json.output.environment }}\nDOCKER_IMAGE: {{ $('ReleaseClassificator').item.json.output.docker_image }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1808,
        576
      ],
      "id": "986a7c4b-7421-4fd4-9fb9-ef24f15bc26f",
      "name": "PipelineManager"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }} {{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=    You are a Release Agent\n\n    You are a helpful assistant that manages deployments for our desktop application using your available tools.\n    You work diligently to ensure safe and successful deployments by following best practices\n    and proper deployment procedures.\n\n    You are responsible for the following:\n    - Understanding the user's request and requirements\n    - Determining the desktop application to the correct environment (eg: integration, preproduction, staging or production)\n    - Determining the correct tag/version/docker image to deploy (eg: 1.0.0, 1.0.1, etc.)\n\n    Examples of possible input scenarios.\n    - Shortened environment names: (int -> integration, preprod -> preproduction, vp -> preproduction, prod -> production)\n\n    Use your tools to communicate with the user if follow up questions to fufill your tasks are needed"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        704,
        704
      ],
      "id": "8c7c7698-d57d-4fe2-9660-226227bbffee",
      "name": "ReleaseClassificator",
      "retryOnFail": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1792,
        752
      ],
      "id": "564b3b1d-00a3-4a93-8c84-d328587887ed",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "9LoAoIrmQhor11bq",
          "name": "Daniel Gemini API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C097V3Q3W02",
          "mode": "list",
          "cachedResultName": "all-automations"
        },
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_Text', ``, 'string') }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slackTool",
      "typeVersion": 2.3,
      "position": [
        1968,
        800
      ],
      "id": "1f0e3dcc-7e2f-4a4b-a9c1-00ddef596d8b",
      "name": "Release update",
      "webhookId": "b6b2ed46-272a-4b5e-8622-7dad956d8742",
      "credentials": {
        "slackOAuth2Api": {
          "id": "NdFg9UfFlfYbqCgf",
          "name": "Daniel Slack "
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C097V3Q3W02",
          "mode": "list",
          "cachedResultName": "all-automations"
        },
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_Text', ``, 'string') }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slackTool",
      "typeVersion": 2.3,
      "position": [
        896,
        928
      ],
      "id": "5d0499d2-c514-4907-b6b1-e272b1daa929",
      "name": "Release Parser",
      "webhookId": "b6b2ed46-272a-4b5e-8622-7dad956d8742",
      "credentials": {
        "slackOAuth2Api": {
          "id": "NdFg9UfFlfYbqCgf",
          "name": "Daniel Slack "
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.user }}",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        752,
        928
      ],
      "id": "7d733c2e-83c3-4061-b716-8b591bb9e0d7",
      "name": "Simple Memory"
    }
  ],
  "pinData": {
    "Slack Trigger": [
      {
        "json": {
          "user": "U097V3PMF6E",
          "type": "app_mention",
          "ts": "1754661896.649879",
          "client_msg_id": "df617fdb-c564-4296-94c6-4158224f6187",
          "text": "<@U09A5GCBHFS> sup",
          "team": "T097V3PMERY",
          "blocks": [
            {
              "type": "rich_text",
              "block_id": "ZXv5R",
              "elements": [
                {
                  "type": "rich_text_section",
                  "elements": [
                    {
                      "type": "user",
                      "user_id": "U09A5GCBHFS"
                    },
                    {
                      "type": "text",
                      "text": " sup"
                    }
                  ]
                }
              ]
            }
          ],
          "channel": "C097V3Q3W02",
          "event_ts": "1754661896.649879"
        }
      }
    ]
  },
  "repo_name": "local-n8n",
  "repo_owner": "Danielratmiroff",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-07T16:01:35.388Z",
      "updatedAt": "2025-08-07T16:01:35.388Z",
      "id": "ChrohlgOUFPyoE2Q",
      "name": "Sdui"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-08-08T14:09:08.000Z",
  "versionId": "d6bb5b71-3de5-4627-ab69-9e43a186e51b"
}